<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="basic.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div id="header-title-login-user">
    <span th:text="${id}"></span> 님의
    <input type="hidden" id="dataId" name="dataId" th:value="${id}"/>
</div>
<div>
    <a id="logout-text" href="/user/logout">로그아웃</a>
    메인 페이지!
    <div id="user-posting"></div>
    <div id="token-posting">
        <input type="text" id="token-box"><button type="button" onclick="tokensend()">토큰 전송</button>
    </div>
</div>
<div th:if="${admin}" id="admin" >
    this is admin page!
    <div id="admin-posting"></div>
</div>
</body>
</html>